@font-face {
  font-family: "chicken_sans_bold";
  src: url("assets/fonts/ChickenSans-Bold.woff") format("woff");
}

* {
  box-sizing: border-box;
}

body {
  font-family: Chicken sans-serif;
}

#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 3;
  font-family: chicken_sans_bold;
  height: 6rem;
}

#header-left-buttons {
  color: black;
  text-decoration: none;
  margin-right: auto;
  margin: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  font-size: 19px;
}

#header-left-buttons a {
  color: black;
}

#receive-order {
  text-align: center;
  color: rgb(150, 150, 150);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-content: center;
  font-family: Helvetica Neue;
  font-size: 15px;
  padding-bottom: 0;
}

#popeyeslogo {
  display: flex;
  justify-content: center;
  text-align: center;
}

#receive-order a {
  color: rgb(190, 90, 11);
}

#explore-menu {
  text-align: center;
  font-family: chicken_sans_bold;
}

#explore-menu h1 {
  background-color: rgb(254, 125, 8);
  color: white;
  height: 15rem;
  display: grid;
  align-items: center;
  font-size: 6rem;
  font-family: chicken_sans_bold;
  justify-content: center;
}

#change {
  color: rgb(190, 90, 11);
}

main {
  font-family: chicken_sans_bold;
  max-width: 80rem;
  margin: 3rem auto 3rem auto;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(264px, 1fr));
  grid-gap: 1rem;
  background-color: rgb(244, 241, 239);
}

body {
  background-color: rgb(244, 241, 239);
}

section {
  background-color: white;
  display: grid;
  text-align: left;
  width: 16.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

section img {
  width: 264px;
  height: 13rem;
  place-items: center;
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

section h2 {
  padding-left: 1rem;
  font-size: 18px;
  color: black;
  text-decoration: none;
}

section p {
  padding-left: 1rem;
  font-size: 18px;
  color: rgb(190, 90, 11);
}

header h2 {
  margin: auto;
}

#navigation-bar {
  display: inline;
}

footer {
  background-color: black;
  color: white;
  font-family: chicken_sans_bold;
  padding: 2rem;
  font-size: small;
}

#sign-up {
  background-color: rgb(190, 90, 11);
  border-radius: 1rem;
  padding: 0.2rem 1rem;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border: solid;
  border-color: rgb(190, 90, 11);
}

#sign-up a {
  color: white;
}

#cart {
  background-color: white;
  border-radius: 1rem;
  padding: 0.2rem 1rem;
  color: rgb(190, 90, 11);
  text-transform: uppercase;
  text-decoration: none;
  border-color: rgb(190, 90, 11);
  border: solid;
}

section h2 a {
  color: black;
}

section p a {
  color: rgb(190, 90, 11);
}

#right-top {
  text-decoration: none;
  margin-right: auto;
  margin: 0.5rem;
  display: flex;
  justify-content: space-evenly;
}
